---
import Layout from "../layouts/Layout.astro";
import FrontPage from "../components/FrontPage.astro";
import CountDown from "../components/CountDown.astro";
import Information from "../components/Information.astro";
import CarrouselPage from "../components/CarrouselPage.astro";
import PartyDetails from "../components/PartyDetails.astro";
import GiftsPage from "../components/GiftsPage.astro";
import FooterInnovativo from "../components/FooterInnovativo.astro";
import FooterGeneral from "../components/FooterGeneral.astro";
---

<Layout title="Invitacion Boda: Danny & Sofía">
  <main>
    <FrontPage />
    <CountDown />
    <Information />
    <CarrouselPage />
    <PartyDetails />
    <GiftsPage />
    <section>
      <h1>Compartimos este día junto a ti</h1>
      <p>Comparte tus fotos y videos de este hermoso día</p>
      <a>#dannyysofia</a>
      <button>Ver en instagram</button>
    </section>
    
 
  </main>

  <footer>
    <FooterGeneral data={page.footers} />
    <FooterInnovativo />
  </footer>
</Layout>
