---
import Layout from "../layouts/Layout.astro";
import FrontPage from "../components/FrontPage.astro";
import CountDown from "../components/CountDown.astro";
import Information from "../components/Information.astro";
import CarrouselPage from "../components/CarrouselPage.astro";
import PartyDetails from "../components/PartyDetails.astro";
import GiftsPage from "../components/GiftsPage.astro";
---

<Layout title="Invitacion Boda: Danny & Sofía">
  <main>
    <FrontPage />
    <CountDown />
    <Information />
    <CarrouselPage />
    <PartyDetails />
    <GiftsPage />
    <section>
      <h1>Compartimos este día junto a ti</h1>
      <p>Comparte tus fotos y videos de este hermoso día</p>
      <a>#dannyysofia</a>
      <button>Ver en instagram</button>
    </section>
    
 
  </main>

  <footer>
    <div>
      <hgroup>
        <h1>Danny</h1>
        <span>&</span>
        <h1>Sofía</h1>
      </hgroup>
      <ul>
        <li><a href="">Confirmar asistencia a ceremonia</a></li>
        <li><a href="">Confirmar asistencia a celebración</a></li>
        <li><a href="">Sugerir canción</a></li>
        <li><a href="">Guardar fecha celebración</a></li>
        <li><a href="">Guardar fecha Ceremonia</a></li>
      </ul>
    </div>
    <div>
      <span>Desarrollado con 💖 por <a href="">xxxxxx</a></span>
    </div>
  </footer>
</Layout>
