<div>
    <hgroup>
        <h1>Danny</h1>
        <span>&</span>
        <h1>Sofía</h1>
    </hgroup>
    <ul>
        <li><a href="">Confirmar asistencia a ceremonia</a></li>
        <li><a href="">Confirmar asistencia a celebración</a></li>
        <li><a href="">Sugerir canción</a></li>
        <li><a href="">Guardar fecha celebración</a></li>
        <li><a href="">Guardar fecha Ceremonia</a></li>
    </ul>
</div>
