---
import '@fontsource-variable/fraunces'
import '@fontsource/be-vietnam-pro'
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #b27e49;
    --color-secondary: #c8a783;
    --color-terceary: #e4c4a1;
    --color-complementary: #d9d9d9;
    --color-gold: linear-gradient(to right, #e4c4a1 40%, #b27e49 80%);
  }
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: system-ui, sans-serif;
  }
</style>
